In [5]:
import pandas as pd

In [6]:
Outliers_Normalized=pd.read_csv('../Final_Data_Set/Original Dataset with Outliers Included Normalized.csv')

In [12]:
Outliers_Normalized

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,smoking_history_encoded,gender_encoded
0,1.692577,0,1,-0.321051,1.001692,0.047709,0,-0.640425,-0.841175
1,0.537899,0,0,-0.000114,1.001692,-1.426157,0,-0.640425,-0.841175
2,-0.616779,0,0,-0.000114,0.161089,0.489869,0,-0.640425,1.188813
3,-0.261494,0,0,-0.583225,-0.492714,0.416175,0,1.561464,-0.841175
4,1.514935,1,1,-1.081957,-0.679515,0.416175,0,1.561464,1.188813
...,...,...,...,...,...,...,...,...,...
99977,1.692577,0,0,-0.000114,0.628091,-1.180513,0,-0.640425,-0.841175
99978,-1.771458,0,0,-1.499326,0.908292,-0.934869,0,-0.640425,-0.841175
99979,1.070828,0,0,0.076730,0.161089,0.416175,0,1.561464,1.188813
99980,-0.794422,0,0,1.220350,-1.426718,-0.934869,0,-0.640425,-0.841175
99981,0.671131,0,0,-0.736913,1.001692,-1.180513,0,1.561464,-0.841175

In [7]:
Outliers_Non_Normalized=pd.read_csv('../Final_Data_Set/Original Dataset with Outliers Included.csv')

In [13]:
Outliers_Non_Normalized

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,smoking_history_encoded,gender_encoded
0,1.692577,0,1,-0.321051,1.001692,0.047709,0,-0.640425,-0.841175
1,0.537899,0,0,-0.000114,1.001692,-1.426157,0,-0.640425,-0.841175
2,-0.616779,0,0,-0.000114,0.161089,0.489869,0,-0.640425,1.188813
3,-0.261494,0,0,-0.583225,-0.492714,0.416175,0,1.561464,-0.841175
4,1.514935,1,1,-1.081957,-0.679515,0.416175,0,1.561464,1.188813
...,...,...,...,...,...,...,...,...,...
99977,1.692577,0,0,-0.000114,0.628091,-1.180513,0,-0.640425,-0.841175
99978,-1.771458,0,0,-1.499326,0.908292,-0.934869,0,-0.640425,-0.841175
99979,1.070828,0,0,0.076730,0.161089,0.416175,0,1.561464,1.188813
99980,-0.794422,0,0,1.220350,-1.426718,-0.934869,0,-0.640425,-0.841175
99981,0.671131,0,0,-0.736913,1.001692,-1.180513,0,1.561464,-0.841175

In [14]:
Without_Outliers_Normalized=pd.read_csv('../Final_Data_Set/Original Dataset without Outliers Normalized.csv')

In [16]:
Without_Outliers_Normalized

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,smoking_history_encoded,gender_encoded
0,1.713008,0,1,-0.286437,1.134061,0.126046,0,-0.633042,-0.841116
1,0.560337,0,0,0.072849,1.134061,-1.523079,0,-0.633042,-0.841116
2,-0.592335,0,0,0.072849,0.232946,0.620784,0,-0.633042,1.188683
3,-0.237667,0,0,-0.579938,-0.467921,0.538328,0,1.579675,-0.841116
4,1.535674,1,1,-1.138266,-0.668169,0.538328,0,1.579675,1.188683
...,...,...,...,...,...,...,...,...,...
96303,1.713008,0,0,0.072849,0.733566,-1.248225,0,-0.633042,-0.841116
96304,-1.745006,0,0,-1.605507,1.033937,-0.973371,0,-0.633042,-0.841116
96305,1.092339,0,0,0.158875,0.232946,0.538328,0,1.579675,1.188683
96306,-0.769669,0,0,1.439149,-1.469161,-0.973371,0,-0.633042,-0.841116
96307,0.693337,0,0,-0.751991,1.134061,-1.248225,0,1.579675,-0.841116

In [17]:
Without_Outliers_Non_Normalized=pd.read_csv('../Final_Data_Set/Original Dataset without Outliers.csv')

In [18]:
Without_Outliers_Non_Normalized

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,smoking_history_encoded,gender_encoded
0,80.0,0,1,25.19,6.6,140,0,-0.247356,-0.128959
1,54.0,0,0,27.32,6.6,80,0,-0.247356,-0.128959
2,28.0,0,0,27.32,5.7,158,0,-0.247356,0.160772
3,36.0,0,0,23.45,5.0,155,0,0.452953,-0.128959
4,76.0,1,1,20.14,4.8,155,0,0.452953,0.160772
...,...,...,...,...,...,...,...,...,...
96303,80.0,0,0,27.32,6.2,90,0,-0.247356,-0.128959
96304,2.0,0,0,17.37,6.5,100,0,-0.247356,-0.128959
96305,66.0,0,0,27.83,5.7,155,0,0.452953,0.160772
96306,24.0,0,0,35.42,4.0,100,0,-0.247356,-0.128959
96307,57.0,0,0,22.43,6.6,90,0,0.452953,-0.128959